
@media(max-width: 1600px){
    .Our-Projects-Part{
        padding-right: 30px;
    }
    p.Phone-Number{
        font-size: 40px;
    }
    .Our-Projects-Picture-Text p{
        font-size: 21px;
    }
    .Head-Center-Text p{
        font-size: 40px;
        line-height: 42px;
        max-width: 835px;
    }
    p.Delta-Logo-Text-1{
        font-size: 93px;
    }
    p.Delta-Logo-Text-2{
        font-size: 19px;
        padding-left: 78px;
        margin-top: -19px;
    }
    button.Order{
        font-size: 21px;
    }
    .Main-Activity{
        padding-right: 50px;
        padding-left: 50px;
    }
    .By-Company-Description{
        font-size: 18px;
    }
    .By-Company-Description{
        max-width: 100%;
    }
    .By-Company-Text{
        padding-top: 0px;
    }
}


@media (max-width: 1440px) {
    .Our-Projects-Picture-Text p{
        font-size: 19px;
    }
    .Our-Projects-Part{
        padding-right: 15px;
    }
}

@media (max-width: 1280px){
    .Our-Projects-Part{
        padding-left: 50px;
    }
    .Our-Projects-Picture-Text p{
        font-size: 17px;
    }
    .Main-Activity-Part ul li{
        font-size: 14px;
    }
    .Main-Activity-Part p{
        font-size: 20px;
    }
    .Our-Projects-Text-1{
        font-size: 15px;
    }
    .Our-Projects-Text-2{
        font-size: 13px;
    }
    .Head-Center-Text p{
        line-height: 38px;
        font-size: 35px;
    }
    p.Phone-Number{
        font-size: 30px;
        margin-bottom: 10px
    }
    button.Order{
        font-size: 15px;
    }
    .By-Company-Description {
        font-size: 14px;
        margin-top: 15px;
    }

}

@media (max-width: 1023px) {
    .Our-Clients-Wrapper .Client img {
        width: auto;
    }
    .By-Company-Picture{
        width: 700px;
    }
    .Head-Phone{
        margin-top: 80px;
    }
    .Advantage div p{
        font-size: 17px;
    }
    .Col{
        width: 100%;
        margin-top: 25px;
    }
    .Margin-col-1{
        margin-top: 25px;
    }
    .Margin-col-2{
        margin-top: 25px;
    }
    .Margin-col-3{
        margin-top: 25px;
    }
    .By-Company-Picture{
        width: auto;
    }
    .By-Company-Text{
        width: 100%;
    }
    .By-Company-Head{
        text-align: center;
    }
    .By-Company-Description{
        padding-left: 15px;
    }
    .Our-Projects-Part{
        max-width: 700px;
        width: auto;
        min-height: 265px;
    }
    .Our-Projects-Picture img{
        display: block;
        margin:0 auto;
    }
    .Our-Projects{
        padding-left: 0px;
    }
    .Head-Delta-Logo{
        width: 100%;
        margin-top: 25px;
    }
    .Head-Center-Text{
        width: 100%;
        margin-top: 25px;
    }
    .Head-Phone{
        width: 100%;
        margin-top: 25px;

    }
    .Head-Center-Text p{
        max-width: 100%;
        text-align: center;
    }
    .Head-Menu-Sub{
        padding-top: 100px;
        padding-bottom: 50px;
    }
}





@media (max-width: 950px) {
    .Main-Activity-Head:before, .Main-Activity-Head:after{
        width: 0px;
    }
    .Our-Projects-Head:before, .Our-Projects-Head:after{
        width: 0px;
    }
}

@media (max-width: 750px){
    .Advantage div{
        width: 100%;
        margin-top: 30px;
    }
    .Main-Activity-Part ul li:before{
        top: 6px;
    }
    iframe.Map{
        position: relative;
        height: 500px;
    }
    .Contacts-Text{
        width: 100%;
        padding-left: 15px;
    }
    .Footer img{
        display: none;
    }
    .Footer .Head-Delta-Logo{
        padding-left: 0px;
    }
    .Footer{
        text-align: center;
        padding-bottom: 15px;
    }
    .Footer-Text{
        padding-left: 10px;
        padding-right: 10px;
    }
    .Our-Projects-Part{
        padding-left: 20px;
    }
    .Our-Projects-Picture-Number{
        display: block;
        width: 100%;
    }
    .Our-Projects-Picture-Number p{
        display: block;
        margin: 0 auto;
    }
    .Our-Projects-Picture-Text{
        width: 100%;
        display: block;
        margin-top: 15px;
    }
    .Our-Projects-Picture-Text p{
        text-align: center;
        padding-left: 0px;
    }
    .Our-Projects-Description{
        text-align: center;
    }
    .Our-Projects-Part{
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 600px){
    .Our-Clients-Wrapper .Our-Clients-Head{
        top: -25px;
    }
    .Advantage-Head{
        top:-9px;
    }
    .Our-Projects-Head{
        top: -45px;
    }
    .Our-Projects-Picture p{
        text-align: center;
        padding-left: 0px;
    }
    .Our-Projects-Picture-Text{
        display: block;
    }
    .Our-Projects-Picture-Number{
        display: block;
        margin: 0 auto;
    }
    .Main-Activity{
        padding-left: 10px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .By-Company-Description{
        font-size: 14px;
        margin-top: 20px;
    }
    .Our-Projects-Picture{
        width: 100%;
    }
    .Our-Projects-Parts{
        text-align: center;
    }
    .Our-Projects-Description{
        width: 100%;
    }

    .Our-Clients hr{
        display: none;
    }
    .Advantage hr{
        display: none;
    }
    .Contacts-Info span{
        font-size: 14px;
    }
    .Contacts-Info p{
        display: block;
    }
    .Head-Center-Text p{
        font-size: 22px;
    }
    .Advantage-Head, .Main-Activity-Head, .By-Company-Head, .Our-Projects-Head, .Our-Clients-Head{
        font-size: 16px;
    }
    .Head-Menu span{
        font-size: 13px;
        padding-top: 15px;
    }
    .Head-Menu{
        padding-bottom: 18px;
    }
    p.Phone-Number img{
        width: 30px;
        height: 44px
    }
    p.Phone-Number{
        font-size: 25px;
    }
    button.Order{
        font-size: 13px;
    }

    .Contacts-Info p{
        display: block;
        text-align: left;
    }
    .Contacts-Info span{
        padding-left: 0px;
    }
    .Contacts-Text-Head-2{
        margin-top: 35px;
        font-size: 23px;
    }
    .Contacts-Text-Head{
        font-size: 23px;
    }

    .Contacts-Text{
        padding-bottom: 50px;
    }
    p.Delta-Logo-Text-2{
        margin-top: -13px;
    }
    .By-Company{
        padding-bottom: 35px;
        padding-top: 25px;
    }
    .Main-Activity-Parts{
        margin-top: 20px;
    }

    .Our-Clients{
        padding-top: 30px;
    }
    .Client img{
        margin-top:  30px;
    }
    .Our-Projects{
        padding-top: 20px;
    }
    .Main-Activity-Part {
        padding-left: 15px;
    }
    .Leader-Head{
        font-size: 19px;
    }
    p.Delta-Logo-Text-1 {
        font-size: 80px;
    }
    p.Delta-Logo-Text-2 {
        font-size: 12px;
        padding-left: 78px;
        margin-top: -17px;
    }
    .Head-Center-Text p {
        line-height: 22px;
    }
}