/* font-family: 'Exo 2', sans-serif;
    font-family: 'Open Sans', sans-serif;
 */

*
{
    box-sizing : border-box;
    margin     : 0px;
    padding    : 0px;
}

.scrolloff {
    pointer-events: none;
}

.Wrapper
{
    font-size : 0px;
}

.Head-Menu span a
{
    font-family     : 'Exo 2', sans-serif;
    font-weight     : 500;
    text-decoration : none;
    color           : white;
    padding-bottom  : 5px;

}
.Head-Menu span a:hover,.Head-Menu span a.Active{
    border-bottom: 2px solid #32587C;
}

.Head-Menu span
{
    display       : inline-block;
    font-size     : 19px;
    padding-top   : 25px;
    padding-left  : 12px;
    padding-right : 12px;

}

.Head-Menu
{
    background      : url("/images/back-head-menu.png") center;
    width           : 100%;
    text-align      : center;
    background-size : cover;
    position        : fixed;
    z-index         : 999;
    padding-bottom  : 32px;
}

.Header
{
    background      : url("/images/back-head.jpg") center;
    background-size : cover;
}

.Head-Menu-Sub
{
    padding-top: 200px;
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 85px;
    max-width: 1920px;
    margin: 0 auto;

}

.Head-Delta-Logo
{
    position: relative;
    width          : 40%;
    display        : inline-block;
    vertical-align : middle;
    margin-top     : -16px;
}

p.Delta-Logo-Text-1
{
    font-size   : 120px;
    font-family : 'Exo 2', sans-serif;
    font-weight : 500;
    color       : white;
    text-align  : center;

}

p.Delta-Logo-Text-2
{
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-left: 110px;
    margin-top: -22px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.Head-Center-Text
{
    width          : 60%;
    display        : inline-block;
    vertical-align : middle;
}

.Head-Center-Text p
{
    font-family: 'Exo 2', sans-serif;
    font-size: 52px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 54px;
    max-width: 875px;
    text-align: left;
}

.Head-Phone
{
    display        : inline-block;
    width          : 100%;
    vertical-align : middle;
    margin-top: 150px;
}

p.Phone-Number
{
    font-family   : 'Exo 2', sans-serif;
    font-size     : 50px;
    font-weight   : 300;
    color         : white;
    text-align    : center;
    position      : relative;
    margin-right: 55px;
    display: inline-block;
    vertical-align: top;
}

p.Phone-Number img
{
    width    : 42px;
    height   : 56px;
    position : relative;
    top: 5px;
    left: 0px;
}

button.Order
{
    display       : inline-block;
    vertical-align: middle;
    margin        : 0 auto;
    font-family   : 'Open Sans', sans-serif;
    font-size     : 26px;
    color         : white;
    background    : none;
    border        : 2px solid white;
    cursor        : pointer;
    padding       : 10px;
    border-radius : 12px;
    transition         : all 0.3s ease 0s;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    -ms-transition     : all 0.3s ease 0s;
}

button.Order:focus
{
    outline : none;
}

.Advantage div
{
    width          : 33.33%;
    display        : inline-block;
    text-align     : center;
    vertical-align : top;
}

.Advantage
{
    text-align     : center;
    padding-bottom : 110px;

    max-width: 1920px;
    margin: 0 auto;
}
.Advantage-Wrapper{
    width: 100%;
    background-color: #f8f8f8;
}

.Advantage div p
{
    font-family : 'Exo 2', sans-serif;
    font-weight : 600;
    color       : black;
    font-size   : 20px;
    display: block;
    margin: 0 auto;


}

.Advantage div img
{
    max-width : 100%;
    margin-bottom: 20px;
}

.Advantage-Head
{
    font-family    : 'Exo 2', sans-serif;
    font-weight    : 500;
    font-size      : 30px;
    text-transform : uppercase;
    position       : relative;
    padding        : 17px;
    color: white;
    background-color: #32587C;
    top: -20px;
}

.Advantage hr
{
    border     : none;
    border-top : 1px solid #e2e2e2;
    width      : 100%;
    top        : 20px;
    position   : relative;
}

.Advantage-Block
{
    width      : 100% !important;
}
.Wallet,.User,.Factory{
    margin-top: 85px;
}
.Concrete{
    margin-top: 100px;
}
.Main-Activity-Part ul li
{
    font-family     : 'Exo 2', sans-serif;
    font-weight     : 400;
    font-size       : 16px;
    color           : #323232;
    list-style-type : none;
    position        : relative;
    margin-top      : 20px;
}

.Main-Activity-Part ul
{
    padding-left  : 20px;
    padding-right : 30px;
}

.Main-Activity-Part ul li:before
{
    content    : "";
    width      : 8px;
    height     : 8px;
    position   : absolute;
    background : #5a9fd1;
    top        : 8px;
    left       : -18px;
}

.Main-Activity-Part p
{
    font-family    : 'Exo 2', sans-serif;
    font-weight    : 600;
    font-size      : 25px;
    text-transform : uppercase;
}

.Main-Activity-Head
{
    font-family    : 'Exo 2', sans-serif;
    font-weight    : 500;
    font-size      : 30px;
    text-transform : uppercase;
    text-align     : center;
    display        : inline-block;
    position       : relative;
}

.Main-Activity-Head:before
{
    content    : "";
    position   : absolute;
    height     : 1px;
    background : rgb(240, 241, 241); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiY2JjYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background : -moz-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* FF3.6+ */
    background : -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(240, 241, 241, 1)), color-stop(100%, rgba(188, 188, 188, 1))); /* Chrome,Safari4+ */
    background : -webkit-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* Chrome10+,Safari5.1+ */
    background : -o-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* Opera 11.10+ */
    background : -ms-linear-gradient(left, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* IE10+ */
    background : linear-gradient(to right, rgba(240, 241, 241, 1) 0%, rgba(188, 188, 188, 1) 100%); /* W3C */
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f1f1', endColorstr='#bcbcbc', GradientType=1); /* IE6-8 */

    width      : 165px;
    top        : 18px;
    left       : -189px;
}

.Main-Activity-Head:after
{
    content    : "";
    position   : absolute;
    height     : 1px;
    width      : 165px;
    top        : 18px;
    right      : -189px;
    background : rgb(188, 188, 188); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JjYmNiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background : -moz-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* FF3.6+ */
    background : -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(188, 188, 188, 1)), color-stop(100%, rgba(240, 241, 241, 1))); /* Chrome,Safari4+ */
    background : -webkit-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* Chrome10+,Safari5.1+ */
    background : -o-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* Opera 11.10+ */
    background : -ms-linear-gradient(left, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* IE10+ */
    background : linear-gradient(to right, rgba(188, 188, 188, 1) 0%, rgba(240, 241, 241, 1) 100%); /* W3C */
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#f0f1f1', GradientType=1); /* IE6-8 */

}

.Col
{
    display        : inline-block;
    width          : 33.33%;
    vertical-align : top;
}

.Main-Activity
{
    width          : 100%;
    padding-left   : 150px;
    padding-right  : 150px;
    padding-top    : 60px;
    padding-bottom : 100px;
}

.Main-Activity
{
    background        : url("/icons/back-activity.jpg") center;
    background-repeat : repeat;
    text-align        : center;
}

.Main-Activity-Parts
{
    margin-top : 100px;
    text-align : left;
    max-width: 1920px;
    margin: 0 auto;
}

.Margin-col-1
{
    margin-top : 135px;
}

.Margin-col-2
{
    margin-top : 90px;
}

.Margin-col-3
{
    margin-top : 94px;
}

.By-Company-Head
{
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    padding: 17px;
    color: white;
    background-color: #32587C;
    top: -145px;
}

.By-Company-Description
{
    font-size   : 20px;
    font-family : 'Exo 2', sans-serif;
    font-weight : 300;
    margin-top  : 25px;
    max-width   : 800px;
    line-height : 26px;
}

.By-Company-Picture img
{
    max-width : 100%;
    display   : block;
    margin    : 0 auto;
}

.By-Company-Picture
{
    width          : 45%;
    display        : inline-block;
    vertical-align : middle;
}

.By-Company-Text
{
    width          : 55%;
    display        : inline-block;
    vertical-align : middle;
    text-align     : left;
    padding-left: 15px;
}

.By-Company
{
    padding-top    : 125px;
    width          : 100%;
    padding-bottom : 170px;
    text-align     : center;
    max-width: 1920px;
    margin: 0 auto;
}

.Our-Projects-Head
{
    font-family    : 'Exo 2', sans-serif;
    font-weight    : 500;
    font-size      : 30px;
    text-transform : uppercase;
    text-align     : center;
    position       : relative;
    display        : inline-block;
    padding: 17px;
    color: white;
    background-color: #32587C;
    top: -35px;
}



.Our-Projects-Text-1
{
    font-family : 'Exo 2', sans-serif;
    font-weight : 400;
    font-size   : 18px;
    color: white;
}

.Our-Projects-Text-2
{
    font-family : 'Exo 2', sans-serif;
    font-weight : 500;
    font-size   : 16px;
    margin-top  : 25px;
}

.Our-Projects
{
    width           : 100%;
    background      : #f8f8f8;
    background-size : cover;
    padding-bottom  : 90px;
    text-align      : center;
}

.Our-Projects-Parts
{
    text-align : left;
    max-width: 1920px;
    margin: 0 auto;
}

.Our-Projects-Part-Blocks{
    max-width: 1600px;
    margin: 0 auto;
    font-size: 0px;
    text-align: center;
}

.Our-Projects-Part
{
    width: 44.2%;
    display: inline-block;
    vertical-align: top;
    margin-top: 55px;
    background-color: #32587C;
    margin-left: 2.9%;
    margin-right: 2.9%;
    padding-left: 100px;
    padding-top: 35px;
    min-height: 350px;
    padding-right: 70px;
}

.Part-1{
    padding-bottom: 20px;
}
.Part-2{
    padding-bottom: 20px;
}
.Part-3{
    padding-bottom: 20px;
}
.Part-4{
    padding-bottom: 20px;
}

.Our-Projects-Picture p
{
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
    color: white;
    padding-left: 30px;

}
.Our-Projects-Picture-Text{
    display: inline-block;
    vertical-align: middle;
    width: 87%;
}
.Our-Projects-Picture-Number p{
    background-color: white;
    color: #32587C;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 0px;
}
.Our-Projects-Picture-Number {
    width: 13%;
    display: inline-block;
    vertical-align: middle;
}
.Our-Projects-Picture{
    text-align: left;

}

.Our-Projects-Picture img
{
    max-width     : 100%;
    border        : 3px solid white;
    border-radius : 5px;
}

.Our-Projects-Description
{
    display      : block;
    width        : 100%;
    max-width: 500px;
    text-align: left;
    padding-top: 15px;

}

iframe.Map
{
    width              : 100%;
    position           : absolute;
    height             : 100%;
    float              : left;
    -webkit-box-shadow : inset 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow    : inset 0px 0px 16px 0px rgba(50, 50, 50, 0.75);
    box-shadow         : inset 0px 0px 16px 0px rgba(50, 50, 50, 0.75);

}

.Contacts
{
    width    : 100%;
    position : relative;
    float    : left;

}

.Contacts-Text-Head
{
    font-family    : 'Exo 2', sans-serif;
    font-weight    : 500;
    font-size      : 30px;
    text-transform : uppercase;
}

.Contacts-Text-Head-2
{
    font-family    : 'Exo 2', sans-serif;
    font-weight    : 500;
    font-size      : 30px;
    text-transform : uppercase;
    margin-top     : 95px;
}

.Contacts-Info
{
    margin-top : 25px;
}

.Contacts-Info p
{
    font-family     : 'Exo 2', sans-serif;
    font-weight     : 400;
    font-size       : 18px;
    list-style-type : none;
    display         : inline-block;
    width           : 180px;
    text-align      : right;

}

.Contacts-Info span
{
    font-family  : 'Exo 2', sans-serif;
    font-weight  : 600;
    font-size    : 18px;
    padding-left : 30px;
}

.Contacts-Info span a
{
    text-decoration : none;
    color           : white;
}

.Contacts-Text
{
    background-color : rgba(0, 0, 0, 0.8);
    color            : white;
    padding-left     : 75px;
    padding-top      : 45px;
    position         : relative;
    float            : right;
    width            : 50%;
    padding-bottom   : 145px;
}

.Leader-Head
{
    font-family : 'Exo 2', sans-serif;
    font-weight : 500;
    font-size   : 22px;
}

.Leader-Post
{
    font-family : 'Exo 2', sans-serif;
    font-weight : 400;
    font-size   : 16px;
}

.Email a
{
    font-family     : 'Exo 2', sans-serif;
    font-weight     : 500;
    font-size       : 22px;
    text-decoration : none;
    color           : white;
}

.Email
{
    margin-top   : 15px;
    position     : relative;
    padding-left : 20px;
}

.Email:before
{
    content    : "";
    position   : absolute;
    background : url("/icons/blue-letter.png");
    width      : 16px;
    height     : 12px;
    top        : 10px;
    left       : 0px;
}

.Leader-1
{
    margin-top : 35px;
}

.Leader
{
    margin-top : 60px;

}

.Our-Clients hr
{
    border     : none;
    border-top : 1px solid #e2e2e2;
    width      : 100%;
    top        : 20px;
    position   : relative;
}

.Our-Clients
{
    text-align     : center;
    width          : 100%;
    padding-top    : 70px;
    padding-bottom : 180px;
    float: left;
    background:white;
}
.Our-Clients-Wrapper{
    background-color: #f8f8f8;
    width: 100%;
    border-bottom: 5px solid #32587C;
    float: left;
}
.Our-Clients-Head
{
    font-family    : 'Exo 2', sans-serif;
    font-weight    : 500;
    font-size      : 30px;
    text-transform : uppercase;
    position       : relative;
    padding: 17px;
    color: white;
    background-color: #32587C;
    top: -37px;
    display: inline-block;
}

.Our-Clients-Wrapper .Our-Clients-Head{
    padding: 17px;
    color: white;
    background-color: #32587C;
    top: -37px;
    display: inline-block;
}
.Our-Clients-Wrapper .Our-Clients{
    padding-top: 0px;
}

.Client
{
    width : 100%;
}

.Client img
{
    vertical-align : middle;
    padding-left   : 15px;
    padding-right  : 15px;
    margin-top     : 60px;
    max-width      : 100%;

}
.Our-Clients-Wrapper .Client img{
    width: 16%;
}

.Footer
{
    float      : left;
    width      : 100%;
    background : #333;
    position   : relative;
    text-align : left;
    /*height: 170px;*/
}

.Footer img
{

}

.Footer .Head-Delta-Logo
{
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
    padding-left: 85px;
    padding-top: 0px;
    padding-bottom: 40px;
    max-width: 50%;
}

.Footer-Text
{
    font-family  : 'Exo 2', sans-serif;
    font-weight  : 400;
    font-size    : 16px;
    display      : inline-block;
    color        : white;
    padding-left : 100px;
    width: 50%;
}


.Footer p.Delta-Logo-Text-1{
    font-size: 64px !important;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
}
.Footer p.Delta-Logo-Text-2{
    font-size: 11.35px !important;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    padding-left: 61px !important;
    margin-top: -12px !important;

    letter-spacing: 3px !important;
}
.Order-Block-Head
{
    font-size   : 26px;
    font-family : 'Open Sans', sans-serif;
}

.Your-Phone
{
    font-size     : 17px;
    font-family   : 'Open Sans', sans-serif;
    margin-top    : 45px;
    margin-bottom : 10px;
}

.Order-Block input
{
    font-size      : 24px;
    font-family    : 'Open Sans', sans-serif;
    display        : inline-block;
    vertical-align : middle;
    padding        : 5px;
    padding-left   : 15px;
    width          : 70%;
}

.Order-Block input:focus
{
    outline : none;
}

.Call-Me
{
    background-color : #5a9fd1;
    font-size        : 20px;
    font-family      : 'Open Sans', sans-serif;
    color            : white;
    width            : 205px;
    cursor           : pointer;
    display          : inline-block;
    padding          : 10px;
    outline          : none;
    border           : none;
    vertical-align   : middle;
    margin-left      : 20px;

    transition         : all 0.3s ease 0s;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    -ms-transition     : all 0.3s ease 0s;
}




.Order-Block
{
    position         : relative;
    background-color : white;
    padding          : 50px;
    z-index          : 99999;
    width            : 865px;
    margin           : 0 auto;
    top              : 355px;
}

.Wrapper-Order-Block
{
    display: none;
    width    : 100%;
    position : fixed;
    height   : 100%;
    z-index  : 1000;
    top      : 0px;
    bottom   : 0px;
    right    : 0px;
    left     : 0px;
}

.Layout
{
    width  : 100%;
    height : 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
}


.Registration-Success, .Registration-Error {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}



.Call-Me:hover {
    background-color: rgb(173, 46, 46);

    transition         : all 0.3s ease 0s;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    -ms-transition     : all 0.3s ease 0s;
}

button.Order:hover {

    transition         : all 0.3s ease 0s;
    -webkit-transition : all 0.3s ease 0s;
    -moz-transition    : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    -ms-transition     : all 0.3s ease 0s;
    color: #32587C;
    border: 2px solid #32587C;
}


.Red-Kran-Logo
{
    position:absolute;
    top: -700px;
    left: 50%;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.Red-Kran {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

a[data-lightbox] {
    display: inline;
    max-width: 100%;
}

#lightbox-wrap *,#lightbox-wrap     {
    box-sizing: content-box;
}